* {
  font-family: "Pixeloid Sans";
  background: transparent;
  background-color: #121212;
  color: #fdfbfc;
  border-radius: 10px;

}

#window {
  color: #bfbbbe;
  border-color: #fdfbfc;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #020307 100%);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #fdfbfc;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #fdfbfc;
  color: #bfbbbe;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #27232b;
  color: #bfbbbe;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #020307;
  color: #bfbbbe;
  border-color: #fdfbfc;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #27232b;
  background-color: #27232b;
  border-color: #fdfbfc;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}
